<html>
    <head>
        <title>Halaman Mahasiswa</title>
            </head>
            <body>
                <h2>Selamat Datang SMK Semen Gresik</h2>
                <p> SMK Semen Gresik merupakan sekolah dibawah naungan PT Semen
                Indonesia ( Persero ) Tbk melalui Yayasan Semen Indonesia Foundation.
                Sejak didirikan pada tanggal 1 Oktober 1963, SMK Semen Gresik memiliki
                tujuan untuk mewujudkan sekolah yang inovatif, berbasis pada kearifan
                alam dan teknologi informasi. Dengan tagline SMK KITA ( Kreatif Inovatif
                Terampil Andal ), SMK Semen Gresik siap menyongsong Era Industri 4.0.
                Silahkan klik tombol dibawah untuk melihat profil SMK Semen Gresik
            </body>
</html>